body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.nice-img-border {
  border: solid 8px #ddd;
}

.jumbotron {
/*
  background: url('http://www.wallpaperup.com/uploads/wallpapers/2014/01/15/228564/fcf18bfcb44c874183a40b8a2db95c66.jpg') no-repeat;
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
*/
}
